# Redirect www → main domain
www.vistavitech.com {
        redir https://vistavitech.com{uri} permanent
}

# Main domain with forced HTTPS
vistavitech.com {
        encode gzip
        reverse_proxy vistavitech-site:80
}

# CRM Application
demo.crm.vistavitech.com {
    root * /var/www/html/public

    php_fastcgi vistavitech-crm-app:9000 

    file_server
    encode gzip

    @assets {
        path /admin/build/*
        path *.css *.js *.jpg *.jpeg *.png *.gif *.ico *.svg *.woff *.woff2 *.eot *.ttf *.otf
    }
    header @assets Cache-Control "public, max-age=31536000, immutable"

    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        X-XSS-Protection "1; mode=block"
    }
}